html {
    /*background-color: rgb(212, 182, 126);*/
    background-image: url("../IMG/backgroundimage.jpg");
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
}

body {
    overflow-x: hidden;
    margin: 0px;
    border: thin rgba(0, 0, 0, 0) solid;
    /*border-top-left-radius: 30px;
    border-top-right-radius: 30px;*/
    background-image: linear-gradient(190deg, rgba(0, 0, 0, 0.99), rgba(12, 12, 12, 0.99), black, rgba(17, 17, 17, 0.99));
    /*color:linear-gradient(180deg, rgb(6, 221, 131), rgb(0, 160, 93));*/
    color:rgb(0, 255, 170);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* animation: rgbBackground 10s infinite; */
}

@keyframes rgbBackground {
    0% { background-image: linear-gradient(190deg, rgb(0, 0, 0), rgb(12, 12, 12), black, rgb(50, 50, 100), black, rgb(12, 12, 12), rgb(0, 0, 0))}
    20% { background-image: linear-gradient(190deg, rgb(0, 0, 0), rgb(12, 12, 12), black, rgb(63, 63, 124), black, rgb(12, 12, 12), rgb(0, 0, 0))}
    40% { background-image: linear-gradient(190deg, rgb(0, 0, 0), rgb(12, 12, 12), black, rgb(50, 50, 100), black, rgb(12, 12, 12), rgb(0, 0, 0))}
    60% { background-image: linear-gradient(190deg, rgb(0, 0, 0), rgb(12, 12, 12), black, rgb(70, 70, 139), black, rgb(12, 12, 12), rgb(0, 0, 0))}
    80% { background-image: linear-gradient(190deg, rgb(0, 0, 0), rgb(12, 12, 12), black, rgb(50, 50, 100), black, rgb(12, 12, 12), rgb(0, 0, 0))}
}

a {
    color: rgb(166, 11, 255);
}

a:visited {
    color:rgb(0, 255, 0);
}

a:hover {
    color: rgb(0, 162, 255);
}

.gradienttext {
    color: transparent;
    background-image: linear-gradient(180deg, rgb(6, 221, 131), rgb(0, 160, 93));
    background-clip: text;
}

main {
    width: 70%;
    position: relative;
    left: 15%;
    margin: 0px;
}


#halve {
    color: rgb(0, 68, 255);
    margin: 0px;
}


footer {
    padding: 0px 10px;
    display: flex;
    border-width: 0px;
    border-radius: 0px 20px 0px 20px;
    transition: background-color 0.5s;
}

footer:hover {
    background-color: rgb(14, 14, 14);
}

footer div {
    /*border-top:rgba(255, 119, 0, 1) thin solid;*/
    padding: 0px 10px 5px 10px;
    display: flex;
    flex-direction: column;
}

footer h4 {
    margin-top: 0px;
    border-bottom:rgba(0, 255, 0, 1) thin solid;
    padding: 2px 10px 10px 10px;
}

footer a {
    padding-bottom: 4px;
    font-size: 10px;
    color:rgba(255, 119, 0, 1);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgba(255, 119, 0, 1)
}

footer a:visited {
    color: rgba(255, 119, 0, 1);
}

.title {
    text-align: center;
    font-size: 4em;
    color: rgb(0, 255, 170);
}


nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    border:rgba(0, 0, 0, 0) thin solid;
    border-radius: 30px;
    /*background-color: rgb(212, 182, 126);*/
}

.activeLink {
    text-decoration: overline;
    text-decoration-color: rgba(255, 119, 170, 1);
}

nav ul {
    text-decoration: none;
}

nav div {
    color: rgb(0, 255,150);
    width: 120px;
    background-color: rgba(38, 38, 38, 0);
    text-align: center;
    padding: 0px 10px;
    height: 50px;
    transition: background-color 0.25s;
    cursor: pointer;
}

nav div:hover {
    background-color: rgb(34, 34, 34);
}

nav a {
    text-decoration: none;
}


section {
    width: 100%;
    display: flex;
    text-decoration: none;
    color:rgba(255, 119, 0, 1);
}

section a {
    margin: 5px 0px;
    text-decoration: none;
    color:rgba(255, 255, 255, 0);
    background-color: rgba(255, 119, 0, 0);
    position: relative;
    bottom: 40%;
    padding: 2px 5px;
    border:rgba(0, 0, 0, 0) 2px dashed;
    border-radius: 30px;
    transition: background-color 0.25s, color 0.25s, border 0.3s;
}

section div:hover a {
    color:rgb(255, 255, 255);
    background-color: rgba(255, 119, 0, 1);
}

section a:hover {
    border:rgb(255, 255, 255) 2px dashed;
}

section div {
    width: 150px;
    text-align: center;
    padding: 15px;
    border:rgba(0, 0, 0, 0) thin solid;
    border-radius: 15px;
}

section div:hover {
    background-color: rgba(173, 149, 104, 0.4);
}


.flex2 {
    position: relative;
    left: 13%;
    width: 100%;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    flex-wrap: wrap;
    color:rgb(0, 69, 218);
}

.flex2 div {
    width: 300px;
    text-align: center;
    padding: 15px;
    border:rgba(0, 0, 0, 0) thin solid;
    border-radius: 15px;
}

.flex2 div:hover {
    background-color: rgba(0, 0, 0, 0);
}


#mediareel {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    /*width: 125%;
    position: relative;
    right: 15%; */
}
#mediareel p {
    padding-left: 5px;
}

#mediareel #ReelIMG {
    cursor: pointer;
    width: 400px;
    height: 250px;
}
#cover {
    width: 400px;
    height: 250px;
    text-align: center;
    position: relative;
    top: 270px;
    color: rgba(0, 0, 0, 0);
    transition: all 0.2s
}
#cover:hover {
    background-color: rgba(20, 20, 20, 0.4);
    color: white;
}
#mediareel img.activeIMG {
    border: rgb(252, 186, 3) 2px solid;
}

#XButton {
    display: none;
    transition: all 0.2s
}

#XButton:hover {
    width: 55px;
}

#enlarged {
    width: 0px;
    height: 0px;
    transition: all 0.2s;
}

#arrowLeft {
    height: 50px;
    position: relative;
    bottom: 100px;
    visibility: hidden;
    border: rgba(0, 0, 0, 0) thin solid;
    border-radius: 100%;
    padding: 4px;
    transition: background-color 0.4s;
}

#arrowRight {
    height: 50px;
    position: relative;
    bottom: 100px;
    background-color:rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0) thin solid;
    border-radius: 100%;
    padding: 4px;
    transition: background-color 0.4s;
}

#arrowLeft:hover, #arrowRight:hover {
    background-color: rgba(56, 56, 56, 0.8);
}

#mediaIMGEx {
    text-align: center;
    padding: 5px 0px;
}

#profile {
    display: grid;
    margin: auto;
    width: 40%;
    min-width: 330px;
    padding: 10px 20px;
    grid-template-columns: 150px 100px auto;
    grid-template-rows: 180px auto;
    border: thin solid rgb(116, 116, 116);
    border-radius: 30px;
}

#profile img {
    border-radius: 50%;
}

.text {
    animation: cycle 20s linear infinite;
}

#list {
    display: grid;
    text-align: center;
    padding: 5px 20px;
    border: rgb(66, 245, 144) thin solid;
    background-color: black;
    grid: auto / auto auto auto auto;
    grid-gap: 20px 5px;
}

.centered {
    display: block;
    margin: 0px auto;
}

.list-title {
    text-align: center;
    font-size: 18pt
}

#list a {
    color: white;
}

#list img {
    display:block;
    margin:auto;
}

button {
    background-color: black;
    color: rgb(66, 245, 144);
    height: 20px;
    margin: 15px 10px auto 10px;;
    border: thin solid rgb(66, 245, 144);
}

button:hover {
    background-color: rgb(41, 41, 41);
}

.signform {
    display: none;
    margin: auto;
    background-color: black;
    border: 3px solid rgb(66, 245, 144);
    width: 400px;
    text-align: center;
}

#services {
    display: grid;
    gap: 50px 25px;
    grid-template-columns: 600px 600px;
    grid-template-rows: 325px 325px;
}

.gradover {
    position: relative;
    top: -327px;
    left: 0px;
    animation: overlayReverse 0.2s;
}

.gradover:hover {
    animation: eoverlay 0.2s;
}

@keyframes eoverlay {
    0% {background-image: linear-gradient(135deg, rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));}
    25% {background-image: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));}
    50% {background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0), rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));}
    75% {background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0), rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0));}
    100% {background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0), rgba(70, 70, 70, 0.7));}
}

@keyframes overlayReverse {
    0% {background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0), rgba(70, 70, 70, 0.7));}
    25% {background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0), rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0));}
    50% {background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0), rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));}
    75% {background-image: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));}
    100% {background-image: linear-gradient(135deg, rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));}
}

@keyframes cycle {
    0% { color: rgb(255, 0, 0)}
    20% {color: rgb(255, 127, 0)}
    40% {color: rgb(250, 246, 0)}
    60% {color: rgb(0, 255, 0)}
    80% {color: rgb(0, 0, 255)}
    90% {color: rgb(255, 0, 255)}
    100% {color: rgb(255, 0, 0)}
}

@media screen and (max-width: 1000px) {
    body {
        overflow: visible;
    }
    main {
        width: 70%;
    }
    #services {
        width: 600px;
        margin: 0px;
        grid-template: 600px 600px 600px / 325px;
    }
    #profile {
        width: auto
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }

    nav, footer {
        display: none;
    }

    #list {
        border-color: black;
        background-color: black;
        margin: 0px;
    }

    #list p {
        margin: 2px;
        background-color: white;
    }

    #list img {
        width: 100px;
    }

    #list a {
        color: black;
        text-decoration: none;
    }

    .title {
        color: black;
    }

    .print50 {
        height: 100px;
        width: 15px;
    }

    #pgbr {
        margin-top: 200px;
        page-break-after: always;
    }

    main {
        left: 0%;
        width: 100%;
    }
}